page-slides {
    ion-slide{
        position: relative;
        a{
            position: absolute;
            top: 5px;
            right: 5px;
        }
        p{
            font-size: 14px;
        }
    }
}
